* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --white: #fff;
  --light: #f5f5f5;
  --medium: #777;
  --dark: #333;

  /* properties */
  --rounded: 3px;
}

body {
  background: #03a678;
  color: #333;
}

.App {
  font-family: sans-serif;
  text-align: center;
}